openapi: 3.1.0
info:
  title: MyLINK Multichannel API
  description: |
    MyLINK Multichannel Messaging API allows sending messages across SMS, RCS, Viber, WhatsApp and other channels, managing message templates, downloading traffic files, and configuring account settings.

    The documentation is also available as an agent skill, which extends AI assistants and coding agents with in-depth knowledge of the API. The skill is published in three packages, one per family of platforms:

    | Package | Download | Purpose |
    | --- | --- | --- |
    | **_Agent Plugins_ plugin** | [messaging-agent-plugin-5.3.0.zip](https://ocm.linkmobility.solutions/public/agent-plugins/messaging-agent-plugin-5.3.0.zip) | For the AI coding tools that support the open [Agent Plugins](https://agent-plugins.org) standard, such as GitHub Copilot, Visual Studio Code, OpenAI Codex, Cursor and Kiro. |
    | **Claude plugin** | [messaging-claude-plugin-5.3.0.zip](https://ocm.linkmobility.solutions/public/agent-plugins/messaging-claude-plugin-5.3.0.zip) | For Claude. Uploaded in claude.ai or the Claude desktop app (*Customize > Plugins*), it makes the skill available in chat, in Cowork and in Claude Code. |
    | **Microsoft 365 Copilot skill** | [messaging-skills-365copilot-5.3.0.zip](https://ocm.linkmobility.solutions/public/agent-plugins/messaging-skills-365copilot-5.3.0.zip) | For Microsoft 365 Copilot agents, added as a skill in Agent Builder, which imports skills rather than plugins. |
  version: 5.3.0
  contact:
    email: product@linkmobility.com
  license:
    name: LINK Mobility Terms and Conditions
    url: https://www.linkmobility.com/legal/terms-and-conditions
servers:
  - url: https://ocm.linkmobility.solutions/v1
    description: Production (API Key auth)
  - url: https://ocm.linkmobility.solutions/v2
    description: Production (OAuth2 auth)
security:
  - apiKey: []
  - oauth2: []
tags:
  - name: Messages
    description: Send messages, get events, manage individual schedules
  - name: Templates
    description: |
      <div class="ocm-warning" style="margin:0 0 14px;padding:10px 14px;border-left:4px solid #d4a72c;border-radius:6px;background:#fff8c5;color:#24292f">⚠️ <strong>Template API features are enabled on demand by LINK Mobility support.</strong></div>

      Create, update, delete and list message templates and their reviews
  - name: Schedules
    description: |
      <div class="ocm-warning" style="margin:0 0 14px;padding:10px 14px;border-left:4px solid #d4a72c;border-radius:6px;background:#fff8c5;color:#24292f">⚠️ <strong>Scheduling API features are enabled on demand by LINK Mobility support.</strong></div>

      Bulk schedule counting and deletion
  - name: Traffic
    description: |
      <div class="ocm-warning" style="margin:0 0 14px;padding:10px 14px;border-left:4px solid #d4a72c;border-radius:6px;background:#fff8c5;color:#24292f">⚠️ <strong>Traffic API features are enabled on demand by LINK Mobility support.</strong></div>

      Download event traffic files
  - name: Self Admin
    description: Get and update account settings (callback configuration)
  - name: Callbacks
    description: Real-time event delivery via webhooks (HTTP POST to the configured callback endpoint).
  - name: Features
    x-traitTag: true
    description: |
      - **Channel-agnostic by design.** Requests and events carry the same shape whatever the channel, while channel-specific options and channel-specific event data stay available for advanced use. One integration therefore reaches every supported channel. See [Messages](#tag/Messages).
      - **Channels.** [SMS](#tag/SMS-specificities), [RCS](#tag/RCS-specificities), [WhatsApp](#tag/WhatsApp-specificities), [Viber](#tag/Viber-specificities) and [Mock](#tag/Mock-specificities) are supported today, with more channels to come. Channels are enabled and configured on demand.
      - **Mock channel.** A test channel that accepts all content types without delivering real messages. It is possible to choose the outcome for each message and simulate status changes, failures, throttling, inbound replies and button clicks, allowing integrations to be tested end to end in both directions, prototyped and volume-tested without real channel traffic. The WhatsApp template approval lifecycle can also be simulated in seconds. See [Mock specificities](#tag/Mock-specificities) and [Mock examples](#tag/Mock-examples).
      - **Cross-channel templates.** A template is defined once and used across channels. Where a channel requires external approval, as WhatsApp does, the review is submitted through the API and the provider-side complexity stays hidden. Can be enabled on demand. See [Templates](#tag/Templates), [Template examples](#tag/Template-examples) and [WhatsApp specificities](#tag/WhatsApp-specificities).
      - **Micro-batching.** Up to 10 messages travel in a single [send request](#tag/Messages), which is what makes bulk campaign traffic efficient.
      - **Context.** Free-form key-value entries travel with a message and come back on every event it generates - delivery status changes as well as inbound replies - which is what ties an event back to the outbound message and to whatever the sending system needs to correlate it with. See [Context examples](#tag/Context-examples).
      - **Fallbacks.** A fallback scenario is declared in the request itself, free to change both the destination and the channel, and may be several levels deep. See [Fallback examples](#tag/Fallback-examples).
      - **Three ways to receive events.** Real-time callbacks, an on-demand pull per message, and bulk JSONL traffic files. The traffic files can be enabled on demand. See [Events](#tag/Events).
      - **Callback endpoint protection.** A callback endpoint can be secured with HTTP Basic credentials, a bearer token, or a custom HTTP header. Requests can also be asymmetrically signed. A client certificate and a static outbound IP address for allow-listing can be enabled on demand. See [Callbacks](#tag/Callbacks).
      - **Self-service settings.** Part of the account configuration, the callback settings among it, can be changed without involving support. See [Self Admin](#tag/Self-Admin).
      - **Temporal control.** Messages can be scheduled, spread over a period, and deferred out of do-not-disturb hours, with configurable allowed hours and time zones. Can be enabled on demand. See [Schedules](#tag/Schedules) and [Schedule examples](#tag/Schedule-examples).
      - **Hand-off.** Two platforms can share one account and pass a conversation between them - a campaign engine handing over to a chatbot, a chatbot to a human agent - driven by configurable hand-off rules. Can be enabled and configured on demand.
      - **Bring your own IDP.** Resellers and other clients that own and manage many accounts can authenticate through a custom OAuth2 identity provider, or act as that provider themselves and issue their own access tokens. Can be enabled on demand. See [API authentication](#tag/API-authentication).
  - name: API endpoints
    x-traitTag: true
    description: |
      All MyLINK Multichannel API operations are accessible through `https://ocm.linkmobility.solutions/v1` or `https://ocm.linkmobility.solutions/v2`, based on the authentication type used - see [API authentication](#tag/API-authentication).

      Every operation below is documented in full in the section of the resource it belongs to. Transport and status codes are common to all of them - see [API transport and format](#tag/API-transport-and-format) and [API status codes](#tag/API-status-codes).

      | Resource | Operation | Purpose |
      |----------|-----------|---------|
      | [Messages](#tag/Messages) | [`POST /messages`](#tag/Messages/operation/sendMessages) | Send 1 to 10 messages in one request, each with its own channel, content and options |
      |  | [`GET /messages/{messageId}/events`](#tag/Messages/operation/getMessageEvents) | Pull the events of one message, 100 per page and up to 500 in total |
      |  | [`GET /messages/{messageId}/schedule`](#tag/Messages/operation/getMessageSchedule) | Read the schedule of a scheduled message |
      |  | [`DELETE /messages/{messageId}/schedule`](#tag/Messages/operation/deleteMessageSchedule) | Cancel one scheduled message |
      | [Templates](#tag/Templates) | [`GET /templates`](#tag/Templates/operation/listTemplates) | List templates without their content, with filtering, sorting and pagination |
      |  | [`POST /templates`](#tag/Templates/operation/createTemplate) | Create a template |
      |  | [`GET /templates/{templateId}`](#tag/Templates/operation/getTemplate) | Read one complete template |
      |  | [`DELETE /templates/{templateId}`](#tag/Templates/operation/deleteTemplate) | Delete a template irreversibly, along with any channel-native template a review created |
      |  | [`GET /templates/{templateId}/meta`](#tag/Templates/operation/getTemplateMeta) | Read the template meta properties |
      |  | [`POST /templates/{templateId}/meta`](#tag/Templates/operation/overwriteTemplateMeta) | Replace the whole collection of template meta properties |
      |  | [`PATCH /templates/{templateId}/meta`](#tag/Templates/operation/mergeTemplateMeta) | Merge template meta properties into the existing collection |
      |  | [`GET /templates/{templateId}/variables`](#tag/Templates/operation/getTemplateVariables) | Read the template variables |
      |  | [`POST /templates/{templateId}/variables`](#tag/Templates/operation/overwriteTemplateVariables) | Replace the whole list of template variables |
      |  | [`PATCH /templates/{templateId}/variables`](#tag/Templates/operation/mergeTemplateVariables) | Merge template variables, matched by `ref` or by name |
      |  | [`GET /templates/{templateId}/content`](#tag/Templates/operation/getTemplateContent) | Read the template content |
      |  | [`POST /templates/{templateId}/content`](#tag/Templates/operation/overwriteTemplateContent) | Replace the template content |
      |  | [`GET /templates/{templateId}/options`](#tag/Templates/operation/getTemplateOptions) | Read the channel-specific template options |
      |  | [`POST /templates/{templateId}/options`](#tag/Templates/operation/overwriteTemplateOptions) | Replace the whole list of template options |
      |  | [`PATCH /templates/{templateId}/options`](#tag/Templates/operation/mergeTemplateOptions) | Merge template options into the existing list |
      |  | [`GET /templates/{templateId}/reviews`](#tag/Templates/operation/getTemplateReviews) | List every channel review of the template |
      |  | [`GET /templates/{templateId}/reviews/{channelId}`](#tag/Templates/operation/getTemplateReview) | Read one channel review of the template |
      |  | [`PUT /templates/{templateId}/reviews/{channelId}`](#tag/Templates/operation/submitTemplateReview) | Submit the template for review by a channel provider, which locks it for editing |
      |  | [`DELETE /templates/{templateId}/reviews/{channelId}`](#tag/Templates/operation/deleteTemplateReview) | Withdraw an approved or suspended template review on the side of the channel |
      |  | [`GET /templates/{templateId}/reviews/{channelId}/events`](#tag/Templates/operation/getTemplateReviewEvents) | Pull the status events of one template channel review |
      | [Schedules](#tag/Schedules) | [`GET /schedules:count`](#tag/Schedules/operation/getScheduleCount) | Count the active schedules of the account, with optional filters |
      |  | [`DELETE /schedules`](#tag/Schedules/operation/bulkDeleteSchedules) | Delete active schedules in bulk and asynchronously, with the same filters |
      | [Traffic](#tag/Traffic) | [`GET /traffic/files`](#tag/Traffic/operation/listTrafficFilesRoot) | List the available traffic files from the root, oldest first |
      |  | [`GET /traffic/files/{path}`](#tag/Traffic/operation/listTrafficFilesInFolder) | List the traffic files under one hourly folder |
      |  | [`DELETE /traffic/files/{path}`](#tag/Traffic/operation/deleteTrafficFile) | Delete one traffic file |
      | [Self Admin](#tag/Self-Admin) | [`GET /self`](#tag/Self-Admin/operation/getAccountInfo) | Read the account information and its current settings |
      |  | [`PATCH /self/settings`](#tag/Self-Admin/operation/updateAccountSettings) | Update account settings, the callback configuration among them |
  - name: Events
    x-traitTag: true
    description: |
      MyLINK Multichannel API produces events throughout the lifecycle of messages ([`messageStatusChanged`](#tag/Callbacks/operation/eventCallback)),
      when end-users interact ([`userMessageReceived`](#tag/Callbacks/operation/eventCallback)), and when template reviews change
      ([`templateReviewStatusChanged`](#tag/Callbacks/operation/eventCallback)). Three mechanisms are available to consume these events:

      | Mechanism | Source | Delivery | Event types | Pros and cons |
      |-----------|--------|----------|-------------|---------------|
      | **[Callbacks](#tag/Callbacks)** (webhooks) | Client-owned callback URL configured via [`PATCH /self/settings`](#tag/Self-Admin/operation/updateAccountSettings) | Real-time push (HTTP POST) | All three | **Pros:** lowest latency, no polling needed<br><br>**Cons:** requires a publicly reachable HTTPS endpoint answering 2xx within 30 seconds; at-least-once delivery - events must be deduplicated on `eventId` |
      | **Get Message Events** | [`GET /messages/{messageId}/events`](#tag/Messages/operation/getMessageEvents) | On-demand pull per message | [`messageStatusChanged`](#tag/Callbacks/operation/eventCallback), [`userMessageReceived`](#tag/Callbacks/operation/eventCallback) only | **Pros:** simple integration, no receiving endpoint needed<br><br>**Cons:** shares rate limits with [`POST /messages`](#tag/Messages/operation/sendMessages) (sending); not suited for high-traffic or bulk retrieval; no [`templateReviewStatusChanged`](#tag/Callbacks/operation/eventCallback) |
      | **Traffic Files** | [`GET /traffic/files`](#tag/Traffic/operation/listTrafficFilesRoot) | Bulk pull (JSONL archives, 1 to ~15 min delay) | All three | **Pros:** bulk retrieval of all events; limited rate-limit impact on messaging; 30-day retention<br><br>**Cons:** not real-time; requires downloading and parsing ZIP/JSONL files; enabled on demand by LINK Mobility support |
  - name: Data models
    x-traitTag: true
    description: |
      The diagrams below are visual representations of the API data models, showing how each model is
      composed and how the models relate. They are not the normative definition: each model's schema,
      with its fields, types and constraints, is defined with the operations that carry it in the
      **API** section - see [Messages](#tag/Messages), [Templates](#tag/Templates),
      [Self Admin](#tag/Self-Admin) and [Callbacks](#tag/Callbacks).

      ## Message model

      - [`POST /messages`](#tag/Messages/operation/sendMessages) takes an array of 1 to 10 messages.
      - Each is addressed to a `userId` on a `channelId` and holds one `content`: text, media, a card,
        a template reference…
      - A message can also carry:
        - `context` - a dictionary returned on every event the message generates,
        - `fallback` - a message sent only if the parent message fails; itself a message, so
          fallbacks can nest,
        - `options` - channel-specific settings for what the generic message model cannot
          express, e.g. `rcs.card.orientation`.
      - Buttons are the interactive elements of content - the `buttons` of a card, the `suggestions`
        of a message. A button is a choice of exactly one action: `reply`, `dial`, `openUrl`…
      - Supported contents, actions, options and limits are channel-specific - see
        [Channel specificities](#tag/SMS-specificities).

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Click to enlarge</strong></p>

      <a href="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.data-model.message.svg" target="_blank" rel="noopener noreferrer"><img src="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.data-model.message.svg" alt="Message model"></a>

      ## Template model

      - A template is content defined once and reused across channels:
        - `templateId` - the identifier a message references through `fromTemplate`,
        - `content` - the same content models as a message, where any textual property can carry
          `{{variable}}` placeholders,
        - `variables` - explicitly declares the variables the content uses, each with a `name` and
          optionally a `description` and `examples`.
      - For the channels that require template review (e.g. WhatsApp), the `reviews` map carries one
        review per `channelId` - a `status` with its `details`.
      - Supported contents, options and limits are channel-specific. See [Templates](#tag/Templates),
        [Template examples](#tag/Template-examples) and [Channel specificities](#tag/SMS-specificities).

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Click to enlarge</strong></p>

      <a href="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.data-model.template.svg" target="_blank" rel="noopener noreferrer"><img src="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.data-model.template.svg" alt="Template model"></a>

      ## Event model

      - Every event shares one envelope - an `eventId`, the `accountId` it belongs to, the `on`
        timestamp - and exactly one of three event models:
        - `messageStatusChanged` - one step in the [lifecycle of a message](#tag/Message-Statuses):
          - the new `status`,
          - the `messageId` and `requestId` it belongs to,
          - on failure, an `error` with a [code](#tag/Message-Delivery-Errors) and additional details,
          - `fallbackOrder` and `fallbackMessageId`, identifying the messages of a fallback chain.
        - `userMessageReceived` - an inbound message from an end-user:
          - a `content`: text, media, a `postback` from a tapped button, a location…
          - `replyToMessageId`, identifying the outbound message it answers.
        - `templateReviewStatusChanged` - the [outcome of a review](#tag/Template-Review-Statuses)
          on one `channelId`, produced only by the channels that require template review (e.g.
          WhatsApp).
      - `messageStatusChanged` and `userMessageReceived` return the message's `context` - see
        [Context examples](#tag/Context-examples).
      - Supported events and their properties are channel-specific. See [Events](#tag/Events),
        [Message statuses](#tag/Message-Statuses),
        [Message delivery errors](#tag/Message-Delivery-Errors),
        [Template review statuses](#tag/Template-Review-Statuses) and
        [Channel specificities](#tag/SMS-specificities).

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Click to enlarge</strong></p>

      <a href="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.data-model.event-unified.svg" target="_blank" rel="noopener noreferrer"><img src="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.data-model.event-unified.svg" alt="Event model"></a>

      ## Account model

      - The account configuration readable and changeable through the API, today the callback
        configuration:
        - `url` - where events are posted,
        - `auth` - the credentials the platform presents: `httpBasic`, `bearerToken`…
        - `tls` - an optional client `certificate` and its `password`,
        - `signatureEnabled` and `enableCompression` - whether requests are signed and compressed.
      - See [`PATCH /self/settings`](#tag/Self-Admin/operation/updateAccountSettings) and
        [Callbacks](#tag/Callbacks).

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Click to enlarge</strong></p>

      <a href="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.data-model.account.svg" target="_blank" rel="noopener noreferrer"><img src="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.data-model.account.svg" alt="Account model"></a>
  - name: API transport and format
    x-traitTag: true
    description: |
      MyLINK Multichannel API is exposed over HTTP/1.1. The integrity and confidentiality of requests
      and responses are provided by HTTPS. Clients are expected to support TLS 1.2 as a minimum. No
      client certificate is requested.

      HTTP-level GZIP and Deflate compression are supported, and are selected by the request header
      `Accept-Encoding: gzip, deflate`.

      Request and response payloads are JSON, so requests carry `Accept: application/json`.

      A request whose body carries a JSON payload must additionally provide
      `Content-Type: application/json`; a request without it is rejected with `415`.

      Neither a request nor a response payload may exceed **6 MB**.

      The API follows common REST conventions (Richardson maturity level 2). Parameters and values use
      camel case, and resource URLs follow the same convention for consistency.
  - name: API authentication
    x-traitTag: true
    description: |
      Two authentication methods are available depending on the endpoint root:

      - **API key** authentication on `https://ocm.linkmobility.solutions/v1`: the API key is passed in the `x-api-key` HTTP header. Available to all clients today. It will not be offered to new clients in future, so v2 is the better target for a new integration.
      - **OAuth2** authentication on `https://ocm.linkmobility.solutions/v2`: a JWT token is obtained from the CPaaS SSO token endpoint https://sso.linkmobility.com/auth/realms/CPaaS/protocol/openid-connect/token and passed as a Bearer token (clientCredentials flow type). OAuth2 can also accept tokens from a custom identity provider registered for the account, which can be set up on demand for resellers and other clients using multiple accounts ("bring your own IDP").
  - name: API status codes
    x-traitTag: true
    description: |
      | Code | Meaning |
      | --- | --- |
      | <code style="white-space:nowrap">200 OK</code> | The request was well-formed, permitted and processed. |
      | <code style="white-space:nowrap">201 Created</code> | The entity was created. |
      | <code style="white-space:nowrap">202 Accepted</code> | The request was accepted for asynchronous processing and events follow later - messages accepted for sending, a template submitted for review, a bulk deletion initiated. |
      | <code style="white-space:nowrap">204 No Content</code> | The request was processed; no further information can be provided. |
      | <code style="white-space:nowrap">400 Bad Request</code> | The request is mal-formed or contains invalid values. |
      | <code style="white-space:nowrap">401 Unauthorized</code> | Authentication failed: the credentials are invalid, or the account is disabled. |
      | <code style="white-space:nowrap">403 Forbidden</code> | Authorization failed: the action is not permitted. |
      | <code style="white-space:nowrap">404 Not Found</code> | The resource was not found. |
      | <code style="white-space:nowrap">405 Method Not Allowed</code> | Invalid HTTP method. |
      | <code style="white-space:nowrap">409 Conflict</code> | The current state does not allow the action - a template review state that forbids it, or a bulk deletion already in progress. |
      | <code style="white-space:nowrap">415 Unsupported Media Type</code> | The `Content-Type` header is not `application/json`. |
      | <code style="white-space:nowrap">423 Locked</code> | The template is locked for editing by an active review (`SUBMITTING`, `SUBMITTED` or `APPROVED`), except its `meta`. See [Template review statuses](#tag/Template-Review-Statuses). |
      | <code style="white-space:nowrap">429 Too Many Requests</code> | The client is sending too many requests. |
      | <code style="white-space:nowrap">500 Internal Server Error</code> | Internal LINK Mobility error. Contact LINK Mobility support if it persists. |

      Wherever the cause can be described, an error response carries it in the body:

      ```
      HTTP/1.1 400 Bad Request
      ...
      {"error": "Missing channelId"}
      ```
  - name: Message Statuses
    x-traitTag: true
    description: |
      Message statuses track the message lifecycle, reported by `messageStatusChanged` events
      (the `status` field of `MessageStatusChangedEvent`).

      Upstream statuses are generated by the service itself (scheduling and sending), while downstream
      statuses are generated by the channels (delivery and read receipts) and arrive asynchronously:

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Click to enlarge</strong></p>

      <a href="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.message-statuses.flow.svg" target="_blank" rel="noopener noreferrer"><img src="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.message-statuses.flow.svg" alt="Message status flow"></a>

      | Message Status | Description / purpose |
      | --- | --- |
      | <code style="white-space:nowrap">SCHEDULE_QUEUED</code> | Message queued for scheduling. Triggered by scheduling, spreading, or DND deferral. |
      | <code style="white-space:nowrap">SCHEDULED</code> | Message was scheduled |
      | <code style="white-space:nowrap">SCHEDULE_DELETED</code> | Message schedule was deleted |
      | <code style="white-space:nowrap">SCHEDULE_DELETION_FAILED</code> | Message schedule deletion failed. See [Message Delivery Errors](#tag/Message-Delivery-Errors) for more details about the occurred failure. |
      | <code style="white-space:nowrap">QUEUED</code> | Message was created in the system and was queued for sending |
      | <code style="white-space:nowrap">SENT</code> | Message was sent to the channel. Please note that delivery can still fail on the channel's end later, asynchronously. |
      | <code style="white-space:nowrap">DELIVERED</code> | Message was delivered to the end-user |
      | <code style="white-space:nowrap">READ</code> | Message was read by the end-user (available on certain channels only) |
      | <code style="white-space:nowrap">DELIVERY_RETRIED</code> | Message delivery failed and the system is trying to send it again. See [Message Delivery Errors](#tag/Message-Delivery-Errors) for more details about the occurred failure. |
      | <code style="white-space:nowrap">DELIVERY_FAILED</code> | Message delivery fatally failed for one of the following reasons: no retries are possible; the maximum number of retries was reached; or the message delivery failed downstream (on the channel's end). See [Message Delivery Errors](#tag/Message-Delivery-Errors) for more details about the occurred failure. |
  - name: Message Delivery Errors
    x-traitTag: true
    description: |
      Message delivery errors are reported in the `error` object of `messageStatusChanged` events
      carrying a `DELIVERY_FAILED`, `DELIVERY_RETRIED` or `SCHEDULE_DELETION_FAILED` status, always
      along with the `details` and/or `channelError` fields.

      | Message error code | Description |
      | --- | --- |
      | <code style="white-space:nowrap">CLIENT_MESSAGE_INVALID</code> | Message content or other message parameters are invalid (occurred while attempting to send the message to the channel). See the `details` field for more information. |
      | <code style="white-space:nowrap">CLIENT_CONFIGURATION_INVALID</code> | Client's account settings are invalid (occurred while attempting to send the message to the channel). See the `details` field for more information. |
      | <code style="white-space:nowrap">CLIENT_MESSAGE_EXPIRED</code> | Message delivery was canceled (TTL reached) |
      | <code style="white-space:nowrap">CLIENT_QUOTA_EXCEEDED</code> | An account quota was exceeded (e.g. message schedule quota) |
      | <code style="white-space:nowrap">CLIENT_MESSAGE_FORBIDDEN</code> | Message is not allowed to be sent due to a platform restriction (e.g., messaging DND policy) |
      | <code style="white-space:nowrap">CHANNEL_REJECTED</code> | Channel rejected that operation. See the `details` field for more information. |
      | <code style="white-space:nowrap">CHANNEL_UNAVAILABLE</code> | Channel is busy (timeout, throttling, connection issues). See the `details` field for more information. Retry can be necessary. |
      | <code style="white-space:nowrap">CHANNEL_INTERNAL_ISSUE</code> | Channel experiences an internal issue. See the `details` field for more information. Retry can be necessary. |
      | <code style="white-space:nowrap">CHANNEL_OTHER_ISSUE</code> | An unspecified channel issue occurred. See the `details` field for more information. |
      | <code style="white-space:nowrap">USER_UKNOWN</code> | User is invalid or unknown (e.g. is not present on the channel).<br>**Note:** `UKNOWN` (and not `UNKNOWN`) is a historical typo. |
      | <code style="white-space:nowrap">USER_BLOCKED</code> | User is blocked (e.g. cannot be messaged to). |
      | <code style="white-space:nowrap">USER_UNAVAILABLE</code> | User is temporarily unavailable |
      | <code style="white-space:nowrap">INTERNAL_NOT_IMPLEMENTED</code> | The requested feature is not yet implemented. |
      | <code style="white-space:nowrap">INTERNAL_OTHER_ISSUE</code> | The service experiences internal issues. See the `details` field for more information. Retry can be necessary. |
  - name: Template Review Statuses
    x-traitTag: true
    description: |
      Template review statuses apply only to channels that require template review. WhatsApp is
      currently the only such channel; the Mock channel simulates the same review lifecycle for
      testing purposes. All other channels accept templates without review and produce no
      `templateReviewStatusChanged` events.

      Template review statuses track the template review lifecycle, reported by `templateReviewStatusChanged`
      events (the `status` field of `TemplateReviewStatusChangedEvent`) and returned on template review objects.

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Click to enlarge</strong></p>

      <a href="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.template-review-statuses.flow.svg" target="_blank" rel="noopener noreferrer"><img src="https://ocm.linkmobility.solutions/public/schemas/assets/images/messaging.template-review-statuses.flow.svg" alt="Template review status flow"></a>

      | Template Status | Description / purpose |
      | --- | --- |
      | <code style="white-space:nowrap">SUBMITTING</code> | The template is about to be submitted. The template cannot be used yet with the selected channel. |
      | <code style="white-space:nowrap">SUBMITTED</code> | The template was submitted for a review, or is being re-evaluated. The template cannot be used yet with the selected channel. |
      | <code style="white-space:nowrap">APPROVED</code> | The template was approved and can be used with the selected channel. |
      | <code style="white-space:nowrap">REJECTED</code> | The template was rejected and cannot be used. A rejection reason can be provided in the `details` field, if available. The template can be modified and resubmitted for a new review. |
      | <code style="white-space:nowrap">SUSPENDED</code> | The template was temporarily suspended by the channel provider and cannot be used at this time. A suspension reason can be provided in the `details` field, if available. This state might be changed after contacting the underlying channel provider. |
      | <code style="white-space:nowrap">DELETING</code> | The template is about to be deleted on the channel's side. The template cannot be used anymore on the selected channel. |
      | <code style="white-space:nowrap">DELETED</code> | The template was deleted on the channel provider side. A new review submission would be needed on the MyLINK Multichannel API side to recreate it on the channel provider side again. |
  - name: SMS specificities
    x-traitTag: true
    description: |
      Channel-specific behaviour of the **SMS** channel: which options it accepts, which content
      types and events it supports, and what it reports back under `channelData`.

      For request and event payloads, see [SMS examples](#tag/SMS-examples).

      ## Templates

      **Template options** — the same options as for messages (see *Message options* below).
      Template options are merged with, and overridden by, message options when messages with
      contents based on templates are submitted.

      **Template contents** — the same contents as for messages (see *Message contents* below).

      SMS templates do not require review: the channel produces no *Template Review Status Changed*
      events.

      ## Messages

      ### Message options

      All message options below can also be set on the account level as account defaults.

      | Message option | Platform's default value | Details |
      | --- | --- | --- |
      | <code style="word-break:normal">sms.<wbr>originatingAddress</code> | *Default value set on account level* | The originating address for the outgoing SMS message. |
      | <code style="word-break:normal">sms.<wbr>originatorTON</code> | *Default value set on account level*, otherwise the service determines the type of originating address automatically by checking its contents and length. | The type of originating address (TON): `0` short number, `1` alpha numeric (max length 11), `2` MSISDN. |
      | <code style="word-break:normal">sms.<wbr>maxConcatenatedMessages</code> | *Default value set on account level*, otherwise `10` | Maximum number of SMS segments, from 1 to 10. |
      | <code style="word-break:normal">sms.<wbr>DCS</code> | *Default value set on account level*, otherwise the service determines the DCS automatically by checking the contents of the message. | Usual DCS (Data Coding Scheme) values are `17` (GSM) and `25` (Unicode). See also [Data Coding Scheme](https://en.wikipedia.org/wiki/Data_Coding_Scheme). |
      | <code style="word-break:normal">sms.<wbr>PID</code> | *Default value set on account level* | SMS Protocol ID. See [GSM 03.40 Protocol Identifier](https://en.wikipedia.org/wiki/GSM_03.40#Protocol_Identifier). |
      | <code style="word-break:normal">sms.<wbr>userDataHeader</code> | *Default value set on account level* | User Data Header together with the User Data can contain up to 140 octets, i.e. 280 when hex-encoded. This parameter is always hex-encoded. |
      | <code style="word-break:normal">sms.<wbr>campaignName</code> | *N/A* | Allows tagging the message with a campaign name for special reporting/billing setup purposes. |

      ### Message contents

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **From Template** content | ✅ | |
      | **Text** content | ✅ | Length limits apply — see *Text length limits* below. |
      | **Media** content | ❌ | |
      | **Location** content | ❌ | |
      | **Card** content | ❌ | |
      | **Carousel** content | ❌ | |
      | **Suggestions** | ❌ | |
      | **Reply** button/suggestion | ❌ | |
      | **Open URL** button/suggestion | ❌ | |
      | **Dial** button/suggestion | ❌ | |
      | **View Location** button/suggestion | ❌ | |
      | **Share Location** button/suggestion | ❌ | |
      | **Create Calendar Event** button/suggestion | ❌ | |
      | **Copy Code** button | ❌ | |

      #### Text length limits

      The maximum text length depends on the character encoding and on the effective
      *Max Concatenated Messages* value (account setting or the `sms.maxConcatenatedMessages`
      message option):

      | Max Concatenated Messages | Unicode characters | GSMA characters only |
      | --- | --- | --- |
      | <code style="white-space:nowrap">1</code> | 70 | 160 |
      | greater than 1, less than 10 | *Max Concatenated Messages* × 67 | *Max Concatenated Messages* × 153 |
      | <code style="white-space:nowrap">10</code> (default) | 670 | 1530 |

      ## Events

      ### Template Review Status Changed events

      Not applicable — the SMS channel does not require templates to be reviewed.

      ### Message Status Changed events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **DELIVERED** status | ✅ | |
      | **READ** status | ❌ | |

      Whenever applicable, *Message Status Changed* events can carry the following properties
      under their `channelData` property:

      | Channel data property | Details |
      | --- | --- |
      | <code style="word-break:normal">sms.<wbr>segmentCount</code> | Number of SMS segments sent to the end-user. The number of segments depends on the length of the sent text and the character encoding (see the `sms.DCS` message option). |
      | <code style="word-break:normal">sms.<wbr>originatingAddress</code> | The custom originating address set by the `sms.originatingAddress` message option. |
      | <code style="word-break:normal">sms.<wbr>campaignName</code> | The SMS campaign name set by the `sms.campaignName` message option. |

      ### User Message Received events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **Text** content | ✅ | Long text can be split and transmitted over multiple events, and its length may vary depending on the underlying SMS providers (mobile network operators) and the original encoding (GSM, Unicode…). |
      | **Postback** content | ❌ | |
      | **Location** content | ❌ | |
      | **Media** content | ❌ | |
      | **Opt-In** content | ❌ | |
      | **Opt-Out** content | ✅ | Produced by MyLINK Multichannel API if a user message text is "`STOP`", or matches a custom pattern defined on the customer account level. |
      | **Typing** content | ❌ | |

      *User Message Received* events on the SMS channel carry no `channelData`.
  - name: RCS specificities
    x-traitTag: true
    description: |
      Channel-specific behaviour of the **RCS** channel: the rendering options it accepts, the
      content types it supports, and the per-property limits RCS imposes. RCS is the richest of the
      supported channels — it carries cards, carousels, suggestions and every button type.

      For request and event payloads, see [RCS examples](#tag/RCS-examples).

      ## Templates

      **Template options** — the same options as for messages (see *Message options* below).
      Template options are merged with, and overridden by, message options when messages with
      contents based on templates are submitted.

      **Template contents** — the same contents as for messages (see *Message contents* below).

      RCS templates do not require review: the channel produces no *Template Review Status Changed*
      events.

      ## Messages

      ### Message options

      All message options below can also be set on the account level as account defaults.

      | Message option | Platform's default value | Details |
      | --- | --- | --- |
      | <code style="word-break:normal">rcs.<wbr>card.<wbr>orientation</code> | `VERTICAL` | Card layout: `VERTICAL` or `HORIZONTAL`. If a horizontal card contains media, it must also include at least a title, description, or buttons. |
      | <code style="word-break:normal">rcs.<wbr>media.<wbr>height</code> | `MEDIUM` | Media height, whether standalone or used within a card or carousel: `SHORT`, `MEDIUM` or `TALL`. |
      | <code style="word-break:normal">rcs.<wbr>card.<wbr>thumbnailImageAlignment</code> | `LEFT` | Thumbnail placement of media contained within a card: `LEFT` or `RIGHT`. |
      | <code style="word-break:normal">rcs.<wbr>carousel.<wbr>cardWidth</code> | `MEDIUM` | Card width within a carousel: `SMALL` or `MEDIUM`. |
      | <code style="word-break:normal">rcs.<wbr>button.<wbr>openUrl.<wbr>application</code> | *None* | Where a web page opens when any **Open URL** button is clicked: `BROWSER` (use the browser) or `WEBVIEW` (open in an integrated web view window). Requires support by the underlying RCS channel provider (e.g. Google RBM) and by the targeted device (Android 15+, iOS 18.5+). Can also be set on individual buttons, where it overrides the message-level option. |
      | <code style="word-break:normal">rcs.<wbr>button.<wbr>openUrl.<wbr>webviewMode</code> | *None* | How a web page opens within a web view: `FULL` (full screen overlay), `HALF` (half screen overlay) or `TALL` (three-quarters screen overlay). Requires support by the underlying RCS channel provider (e.g. Google RBM) and by the targeted device (Android 15+, iOS 18.5+), and `rcs.button.openUrl.application` set to `WEBVIEW`. Can also be set on individual buttons, where it overrides the message-level option. |
      | <code style="word-break:normal">rcs.<wbr>suggestion.<wbr>display</code> | *None* | Suggestion display behaviour. `PERSISTENT` allows suggestions to remain after being clicked. Requires support by the RCS channel provider (e.g. Google RBM) and by the target device (Google Messages version 20260225.00 or later), and the message content must be `text`. A single text message can contain up to four persistent suggestions. |

      ### Button options

      Button options can be set on specific buttons (`content.card.buttons` or
      `content.carousel.cards[].buttons` items), overriding message-wide options.

      | Button option | Platform's default value | Details |
      | --- | --- | --- |
      | <code style="word-break:normal">rcs.<wbr>button.<wbr>openUrl.<wbr>application</code> | *None* | *See Message options above.* |
      | <code style="word-break:normal">rcs.<wbr>button.<wbr>openUrl.<wbr>webviewMode</code> | *None* | *See Message options above.* |

      ### Suggestion options

      Suggestion options can be set on specific suggestions (`content.suggestions` items),
      overriding message-wide options.

      | Suggestion option | Platform's default value | Details |
      | --- | --- | --- |
      | <code style="word-break:normal">rcs.<wbr>suggestion.<wbr>display</code> | *None* | *See Message options above.* |

      ### Message contents

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **From Template** content | ✅ | |
      | **Text** content | ✅ | Limited to **3072** characters. |
      | **Media** content | ✅ | See *Media content limits* below. |
      | **Location** content | ❌ | |
      | **Card** content | ✅ | See *Card content limits* below. |
      | **Carousel** content | ✅ | `cards` must contain from **2** to **10** items. Items of `cards` have the same limitations as the **Card** content. The `text` property is not supported. |
      | **Suggestions** | ✅ | Can contain from **0** to **11** items. |
      | **Reply** button/suggestion | ✅ | RCS does not distinguish the button caption from the intended reply text, so `caption` also defines the reply text. `caption` limited to **25** characters; `postback` limited to **2000** characters. |
      | **Open URL** button/suggestion | ✅ | `caption` limited to **25** characters; `openUrl` limited to **2048** characters; `postback` limited to **2000** characters. Honours the button-level options `rcs.button.openUrl.application` and `rcs.button.openUrl.webviewMode`. |
      | **Dial** button/suggestion | ✅ | `caption` limited to **25** characters. `dial.phoneNumber` must be in **E.164** format (for example `+12223334444`). `postback` limited to **2000** characters. |
      | **View Location** button/suggestion | ✅ | `caption` limited to **25** characters. `viewLocation.latitude` must be in the **±90** range and `viewLocation.longitude` in the **±180** range. `viewLocation.description` limited to **100** characters. `postback` limited to **2000** characters. |
      | **Share Location** button/suggestion | ✅ | `caption` limited to **25** characters; `postback` limited to **2000** characters. |
      | **Create Calendar Event** button/suggestion | ✅ | `caption` limited to **25** characters. `createCalendarEvent.title` limited to **100** characters and `createCalendarEvent.description` to **500** characters. `postback` limited to **2000** characters. |
      | **Copy Code** button | ❌ | |

      #### Media content limits

      - `source` and the corresponding `type` can only be the following MIME types:
        - `image/jpeg`, `image/jpg`, `image/gif`, `image/png`
        - `video/h263`, `video/m4v`, `video/mp4`, `video/mpeg`, `video/mpeg4`, `video/webm`
        - `application/pdf` — only if the message carries no *Suggestions*
      - `description` is ignored.
      - `thumbnail` is limited to **2048** characters.

      #### Card content limits

      - `title` is limited to **200** characters.
      - `text` is limited to **2000** characters.
      - `buttons` can contain from **0** to **4** items.
      - `media` has the same limitations as the **Media** content above, except that
        `application/pdf` is not supported.
      - If `rcs.card.orientation` is `HORIZONTAL` and the card contains media, it must also include
        at least a title, description, or buttons.
      - Location is not supported. *Recommendation: compensate with the `media` property's `source`
        pointing to a static map picture URL, generated with the
        [Google Maps Static API](https://developers.google.com/maps/documentation/maps-static/start)
        for example.*

      ## Events

      ### Template Review Status Changed events

      Not applicable — the RCS channel does not require templates to be reviewed.

      ### Message Status Changed events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **DELIVERED** status | ✅ | |
      | **READ** status | ✅ | |

      *Message Status Changed* events on the RCS channel carry no `channelData`.

      ### User Message Received events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **Text** content | ✅ | Text length can depend on device and messaging-application limitations, observed to be **8 000 – 10 000** characters maximum. |
      | **Postback** content | ✅ | Postbacks are sent on clicks on any type of button, in addition to the button-specific events where available. For example, clicking a *Share Location* button triggers a **Postback**, and actually sharing the location triggers an additional **Location** event. |
      | **Location** content | ✅ | The `description` property is empty. |
      | **Media** content | ✅ | Inbound media can be of any MIME type, in contrast with outbound media which is limited to images and videos. The `description` property usually contains the name of the file sent by the user. |
      | **Opt-In** content | ✅ | Produced when the user clicks *Start Subscription* or a similar button in their RCS messaging application. |
      | **Opt-Out** content | ✅ | Produced by MyLINK Multichannel API if a user message text matches "`STOP`" (or another custom opt-out keyword), and/or when the user clicks *Cancel Subscription* or a similar button in their RCS messaging application. |
      | **Typing** content | ✅ | The Typing event is resent approximately **every 20 seconds**, or when the user's device receives a new message. |

      *User Message Received* events on the RCS channel carry no `channelData`.
  - name: WhatsApp specificities
    x-traitTag: true
    description: |
      Channel-specific behaviour of the **WhatsApp** channel. WhatsApp differs from the other
      channels in one important way: **business-initiated outbound messages must be based on a
      template that WhatsApp (Meta) has approved**.

      For template, request and event payloads, see [WhatsApp examples](#tag/WhatsApp-examples).

      ## Templates

      To start a business-initiated conversation, the client is expected to:

      1. **Create a template** using the Templates resource (see [Templates](#tag/Templates)):
         - define a content based on either the `text` or the `card` content type;
         - if any are needed, declare all variables with their respective examples (mandatory);
         - optionally, define a template category using the `whatsapp.template.category` option.
      2. **Submit the template for review** by WhatsApp using
         `PUT /templates/{templateId}/reviews/whatsapp`.
      3. **Wait for an approval status** from WhatsApp, which can take from several seconds to
         several days. Poll it with `GET /templates/{templateId}/reviews/whatsapp`, or receive a
         *Template Review Status Changed* event (see [Callbacks](#tag/Callbacks)).

      ### Business-initiated message template options

      All template options below can also be set on the account level as account defaults.

      | Template option | Platform's default value | Details |
      | --- | --- | --- |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>category</code> | `MARKETING` | Templates must be categorized. The category designated at template creation is validated during template review, and templates are rejected if the designated category does not match the category WhatsApp determines from the template content. Possible values: `MARKETING`, `UTILITY`, `AUTHENTICATION`. See the [WhatsApp template guidelines](https://developers.facebook.com/docs/whatsapp/updates-to-pricing/new-template-guidelines). |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>language</code> | `en` | Templates can have a specific language assigned. Most of the time there is no need to change the default (English), even when the template targets non-English end-users. The cases where a specific value makes sense are authentication templates (most of the content is generated by WhatsApp) and marketing templates with a *Copy Code* button (its caption is provided by WhatsApp). Use the *code* (e.g. `pt_BR`) from the [supported languages list](https://developers.facebook.com/docs/whatsapp/business-management-api/message-templates/supported-languages/). |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>messageSendTtlSeconds</code> | `2592000` (30 days) for utility templates; `600` for authentication templates | Messages based on **utility** templates have a default TTL of 30 days, customizable between `30` and `43200` seconds (0.5 minutes – 12 hours), or `-1` (30 days). Messages based on **authentication** templates have a default TTL of 10 minutes, customizable between `30` and `900` seconds (0.5 – 15 minutes), or `-1` (which means 30 days). WhatsApp encourages setting a TTL for all authentication templates, preferably equal to or less than the OTP expiration time in seconds (see `whatsapp.template.authentication.codeExpirationMinutes`), so consumers only get a message while the code is still usable. **Marketing templates do not support TTL.** |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>authentication.<wbr>codeExpirationMinutes</code> | *none* | For authentication templates, the expiration time of the sent OTP in minutes. If specified, WhatsApp displays a footer informing the end-user of the validity duration (e.g. *This code expires in 5 minutes.*, or its localized variant if `whatsapp.template.language` is set). |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>authentication.<wbr>addSecurityRecommendation</code> | `false` | For authentication templates, when `true` WhatsApp appends a security recommendation to the message (e.g. *"For your security, do not share this code"*, or its localized variant if `whatsapp.template.language` is set). |
      | <code style="word-break:normal">whatsapp.<wbr>phoneNumber</code> | *Default value set on account level* | The business phone number provisioned on the WhatsApp side, linked to the provisioned WhatsApp Business account. This template option allows using a business phone number different from the account-level default. It is overridden by the identical message option. |

      ### Business-initiated message template contents

      WhatsApp-native **Multi-Product** message templates are not supported.

      #### Marketing and utility templates

      Marketing templates are defined with `whatsapp.template.category` set to `MARKETING` (the
      default); utility templates with `whatsapp.template.category` set to `UTILITY`.

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **Text** content | ✅ | Limited to **1 024** characters, or **32 768** characters including expanded variables. See *Variable count rule* below. |
      | **Media** content | ❌ | |
      | **Location** content | ❌ | |
      | **Card** content | ✅ | See *Card template limits* below. |
      | **Carousel** content | ✅ | `cards` is required and must contain from **2** to **10** items. `text` is required, limited to 1024 characters, and can contain variables. Each card can contain media, title, subtitle, text and buttons. |
      | **Suggestions** | ❌ | |
      | **Reply** button | ✅ | Supported within cards only. WhatsApp does not distinguish the button caption from the intended reply text, so `caption` also defines the reply text. `caption` limited to **25** characters, variables not allowed. `postback` limited to **96** characters including expanded variables, and can contain any number of variables. |
      | **Open URL** button | ✅ | Supported within cards only. `caption` limited to **25** characters, variables not allowed. `openUrl` limited to **2000** characters including an expanded variable; it can contain only one variable, placed at the end of the value (e.g. `https://example.com/{{var}}`). `postback` is not supported. |
      | **Dial** button | ✅ | Supported within cards only. `caption` limited to **25** characters, variables not allowed. `dial.phoneNumber` must be in **E.164** format (for example `+12223334444`), variables not allowed. `postback` is not supported. |
      | **View Location** button | ❌ | |
      | **Share Location** button | ❌ | |
      | **Create Calendar Event** button | ❌ | |
      | **Copy Code** button | ✅ | Supported within cards, within marketing templates only. `caption` is ignored — WhatsApp always uses *"Copy code"* for the button text, or its localized variant if `whatsapp.template.language` is set. `copyCode.value` must contain **1** variable and only that; the variable's value is limited to alphanumeric characters when sending messages based on that template. `postback` is not supported. |
      | **Flow** button | ✅ | Supported within cards only, and only in templates categorized as `UTILITY` or `MARKETING`. `caption` is required and becomes the flow CTA text. A template can contain at most **1** Flow button, which counts towards the limit of 10 buttons overall. `postback` is not supported. See *Flow button options* below. |

      ##### Variable count rule

      WhatsApp does not disclose the exact rule for the maximum number of variables, but it has been
      observed that **N** unique variables require at least **N × 2 + 1** static words
      (*e.g. 1 variable requires 3 words, 3 variables require 7 words*).

      ##### Card template limits

      - Only one of `title`, `media` or `location` can be present (none is mandatory). They
        represent the header of the template.
      - `title` is limited to **60** characters including an expanded variable. Only one variable is
        allowed.
      - `media.type` can contain variables (provided variable examples are also given) and must be
        one of the following MIME types:
        - `image/jpeg`, `image/png` for **image**-based template headers;
        - `video/mp4`, `video/3gp` for **video**-based template headers;
        - `application/pdf` for **document**-based template headers. PDF is only required as an
          example needed for template approval — messages created from such templates can use
          `text/plain`, `application/pdf`, `application/msword`, `application/vnd.ms-excel`,
          `application/vnd.ms-powerpoint`,
          `application/vnd.openxmlformats-officedocument.wordprocessingml.document`,
          `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet` and
          `application/vnd.openxmlformats-officedocument.presentationml.presentation`, provided
          `media.type` is itself a template variable so it can be set dynamically.
      - `media.source` can contain variables (provided variable examples are also given) and must be
        a valid URL referencing a web resource whose type matches `media.type`. Maximum resource
        size: **images 5 MB**, **videos 16 MB**, **documents 100 MB**.
      - `media.description` and `media.thumbnail` are not supported.
      - `location.title`, `location.description`, `location.latitude` and `location.longitude` can
        all contain variables.
      - `text` is limited to **1 024** characters, or **32 768** characters including expanded
        variables (see *Variable count rule* above).
      - `subtitle` represents the footer and is limited to **60** characters. Variables are not
        allowed.
      - `buttons` can contain: from **0** to **10** buttons overall; from **0** to **10** *Reply*
        buttons, which must be grouped together either at the start or at the end of the button
        list; from **0** to **2** *Open URL* buttons; from **0** to **1** *Dial* button; and from
        **0** to **1** *Copy Code* button, for marketing templates only.

      ##### Flow button options

      The flow parameters of a *Flow* button are carried by the button options prefixed with
      `whatsapp.button.flow.`:

      - `whatsapp.button.flow.id` is required and contains the Flow ID defined in the Meta Business
        Portal.
      - `whatsapp.button.flow.action` is optional and can be `navigate` or `data_exchange`.
      - `whatsapp.button.flow.screen` is optional and contains the entry screen id. It is left
        permissive at template definition time, letting the WhatsApp template review decide.
      - `whatsapp.button.flow.token` is optional and contains the `flow_token` passed to the flow for
        business correlation. It is the only per-message value: it can contain variables, which are
        resolved for each message based on that template. If no token is defined, no flow parameter
        is sent along with the message.
      - `whatsapp.button.flow.data`, `whatsapp.button.flow.messageVersion` and
        `whatsapp.button.flow.mode` are only supported on session (non-template) flow messages, and
        are rejected at template definition time. See *Session flow button options* below.

      #### Authentication templates

      Authentication templates are defined with `whatsapp.template.category` set to
      `AUTHENTICATION`.

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **Text** content | ❌ | |
      | **Media** content | ❌ | |
      | **Location** content | ❌ | |
      | **Card** content | ✅ | See *Authentication card limits* below. |
      | **Carousel** content | ❌ | |
      | **Suggestions** | ❌ | |
      | **Reply** button | ❌ | |
      | **Open URL** button | ❌ | |
      | **Dial** button | ❌ | |
      | **View Location** button | ❌ | |
      | **Share Location** button | ❌ | |
      | **Create Calendar Event** button | ❌ | |
      | **Copy Code** button | ✅ | `caption` limited to **25** characters, variables not allowed. `copyCode.value` must contain **1** variable representing the OTP to send, and only that; the variable's value is limited to 15 characters when sending messages based on that template. `postback` is not supported. |
      | **Flow** button | ❌ | |

      ##### Authentication card limits

      - `title`, `media` and `location` are ignored.
      - `text` must contain the variable representing the OTP to send, and only that. The main text
        is generated by WhatsApp and takes the form *"123456 is your verification code"*, or its
        localized variant if `whatsapp.template.language` is set. If
        `whatsapp.template.authentication.addSecurityRecommendation` is `true`, WhatsApp appends a
        security recommendation of the form *"For your security, do not share this code"*, or its
        localized variant.
      - `subtitle` is ignored. However, if
        `whatsapp.template.authentication.codeExpirationMinutes` is set, WhatsApp displays a footer
        of the form *This code expires in 5 minutes.*, or its localized variant.
      - `buttons` must contain **1** *Copy Code* button, and only that.

      ## Messages

      ### Message options

      All message options below can also be set on the account level as account defaults.

      | Message option | Platform's default value | Details |
      | --- | --- | --- |
      | <code style="word-break:normal">whatsapp.<wbr>phoneNumber</code> | *Default value set on account level* | The business phone number provisioned on the WhatsApp side, linked to the provisioned WhatsApp Business account. This message option allows using a business phone number different from the account-level default, and also overrides the identical option defined on the template level, if any. |
      | <code style="word-break:normal">whatsapp.<wbr>text.<wbr>previewUrl</code> | `false` | If a text message contains a URL, the message received by the end-user also contains a preview of that URL. Possible values: `true`, `false`. |

      ### Message contents

      WhatsApp-native **Reply List**, **Contact**, **Single Product** and **Multi-Product** messages
      are not supported.

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **fromTemplate** content | ✅ | Required for business-initiated conversations, provided the template was submitted for review and approved by WhatsApp. Can also be used to send session messages based on templates, in which case the template must not be submitted for review. |
      | **Text** content | ✅ | **Session messages only.** Limited to **4 096** characters. |
      | **Media** content | ✅ | **Session messages only.** See *Session media limits* below. |
      | **Location** content | ✅ | **Session messages only.** `latitude` and `longitude` must be in the **±90** and **±180** ranges respectively. `title` and `description` have no known limitation. |
      | **Card** content | ✅ | **Session messages only.** See *Session card limits* below. |
      | **Carousel** content | ✅ | **Session messages only.** `cards` is required and must contain from **2** to **10** items. `text` is required and limited to 1024 characters. See *Session carousel limits* below. |
      | **Suggestions** | ❌ | |
      | **Reply** button/suggestion | ✅ | WhatsApp does not distinguish the button caption from the intended reply text, so `caption` also defines the reply text. `caption` limited to **20** characters; `postback` limited to **200** characters. Within a single card, every *Reply* button needs its own `caption`: a card whose button labels repeat is refused. A `caption` carries no emoji and no markdown. |
      | **Open URL** button/suggestion | ✅ | **Carousel cards only**, where it is the alternative to *Reply* buttons. A carousel card carrying an *Open URL* button carries no other button. `caption` becomes the button label and is limited to **20** characters. Not supported on a standalone **Card** content. |
      | **Dial** button/suggestion | ❌ | |
      | **View Location** button/suggestion | ❌ | |
      | **Share Location** button/suggestion | ❌ | |
      | **Create Calendar Event** button/suggestion | ❌ | |
      | **Copy Code** button | ❌ | |
      | **Flow** button | ✅ | **Session messages only**, and within cards only. A flow card must contain exactly **1** button — the flow CTA — and its `text` is required, as it becomes the message body. `caption` is required, becomes the flow CTA text, and is limited to **20** characters. `postback` is not supported. See *Session flow button options* below. |

      #### Session media limits

      `source` and the corresponding `type` can only be the following MIME types:

      - `image/jpeg`, `image/png` for **images**, maximum file size **5 MB**;
      - `image/webp` for **stickers**, maximum file size **100 KB** for static and **500 KB** for
        animated stickers, with a mandatory image size of **512×512** pixels;
      - `audio/mpeg`, `audio/aac`, `audio/mp4`, `audio/amr`, `audio/ogg` (Opus codec required) for
        **audio** files, maximum file size **16 MB**;
      - `video/mp4`, `video/3gp` for **video** files, maximum file size **16 MB**;
      - `text/plain`, `application/pdf`, `application/msword`, `application/vnd.ms-excel`,
        `application/vnd.ms-powerpoint`,
        `application/vnd.openxmlformats-officedocument.wordprocessingml.document`,
        `application/vnd.openxmlformats-officedocument.spreadsheetml.sheet`,
        `application/vnd.openxmlformats-officedocument.presentationml.presentation` for **document**
        files, maximum file size **100 MB**.

      `description` is supported only for **image**, **video** and **document** files (thus
      excluding stickers and audio files) and is limited to **1024** characters. `thumbnail` is not
      supported.

      #### Session card limits

      - Either `title` or `media` can be present (neither is mandatory).
      - `title` is limited to **60** characters.
      - `media` has the same limitations as the standalone **Media** content above, except that
        sticker and audio files are not supported and `media.description` is not supported.
      - Location is not supported.
      - `text` is **required**, becomes the message body, and is limited to **1024** characters.
      - `subtitle` is used for the card footer and is limited to **60** characters.
      - `buttons` must contain either from **1** to **3** *Reply* buttons, or exactly **1** *Flow*
        button — a flow card cannot mix button types.

      #### Session carousel limits

      A carousel card follows its own rules, which are not those of a standalone **Card** content:

      - `media` is **required** on every card and is the card header. Only images (`image/jpeg`,
        `image/png`) and videos (`video/mp4`, `video/3gp`) are accepted; a document is not.
      - `title` is not rendered on a carousel card and must be omitted.
      - `text` is optional, limited to **160** characters, and carries at most **2** line breaks.
      - `subtitle` is not rendered on a carousel card and must be omitted: a carousel card has no
        footer.
      - `buttons` is **required** on every card and must contain either exactly **1** *Open URL*
        button, or **1** or more *Reply* buttons — a card carrying an *Open URL* button carries no
        other button, and a *Flow* button is not supported on a carousel card.
      - Every card must use the same **media kind** — all images, or all videos — and the same
        **button type**, with, for *Reply* buttons, the same **number** of buttons. A carousel whose
        cards differ is rejected as a whole.

      #### Session flow button options

      The flow parameters of a *Flow* button are carried by the button options prefixed with
      `whatsapp.button.flow.`:

      - `whatsapp.button.flow.id` is required and contains the Flow ID defined in the Meta Business
        Portal.
      - `whatsapp.button.flow.action` is optional and can be `navigate` or `data_exchange`.
      - `whatsapp.button.flow.screen` contains the entry screen id. It is required when
        `whatsapp.button.flow.action` is explicitly set to `navigate`, or when
        `whatsapp.button.flow.data` is provided; it must be omitted when
        `whatsapp.button.flow.action` is `data_exchange`.
      - `whatsapp.button.flow.data` is optional and contains a JSON object passed as input to the
        first screen of the flow. It must be a non-empty JSON object, and must be omitted when
        `whatsapp.button.flow.action` is `data_exchange`.
      - `whatsapp.button.flow.token` is optional and contains the `flow_token` passed to the flow for
        business correlation.
      - `whatsapp.button.flow.messageVersion` is optional and defaults to `3`.
      - `whatsapp.button.flow.mode` is optional, can be `draft` or `published`, and defaults to
        `published`.

      ## Events

      ### Template Review Status Changed events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **SUBMITTING** status | ✅ | Triggered by calling `PUT /templates/{templateId}/reviews/whatsapp`. |
      | **SUBMITTED** status | ✅ | Triggered if WhatsApp accepts the template review submission. |
      | **APPROVED** status | ✅ | Triggered when WhatsApp approves the template; or when WhatsApp changes the quality rating of the template (the template remains approved), in which case `channelData` contains `whatsapp.template.quality` and `whatsapp.template.quality.previous`; or when WhatsApp reinstates a suspended template. |
      | **REJECTED** status | ✅ | Triggered when WhatsApp rejects a submitted template, or permanently disables a previously approved template. A reason is provided in the `details` property. |
      | **DELETING** status | ✅ | Triggered when the client requests the template review to be deleted, through the Templates resource or through the *WhatsApp Manager / Message templates* page belonging to Meta. |
      | **DELETED** status | ✅ | Triggered once the requested deletion is completed. |
      | **SUSPENDED** status | ✅ | Triggered by WhatsApp when the template is paused or disabled. |

      Whenever applicable, *Template Review Status Changed* events can carry the following
      properties under their `channelData` property:

      | Channel data property | Details |
      | --- | --- |
      | <code style="word-break:normal">whatsapp.<wbr>account.<wbr>id</code> | WhatsApp-native Business Account numeric ID. |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>id</code> | WhatsApp-native message template numeric ID. |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>name</code> | WhatsApp-native template name. |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>category</code> | WhatsApp-native template category (e.g. `MARKETING`). |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>category.<wbr>previous</code> | In case of a change, the previous WhatsApp-native template category. |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>quality</code> | Latest WhatsApp-native message template quality score: `GREEN` (high), `YELLOW` (medium) or `RED` (low). |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>quality.<wbr>previous</code> | In case of a change, the previous WhatsApp-native message template quality score. |

      ### Message Status Changed events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **DELIVERED** status | ✅ | |
      | **READ** status | ✅ | |

      Whenever applicable, *Message Status Changed* events can carry the following properties under
      their `channelData` property:

      | Channel data property | Details |
      | --- | --- |
      | <code style="word-break:normal">whatsapp.<wbr>account.<wbr>id</code> | WhatsApp-native Business Account numeric ID. |
      | <code style="word-break:normal">whatsapp.<wbr>phoneNumber</code> | The business phone number used for sending the message. |
      | <code style="word-break:normal">whatsapp.<wbr>phoneNumber.<wbr>name</code> | The verified name of the business phone number. |
      | <code style="word-break:normal">whatsapp.<wbr>phoneNumber.<wbr>quality</code> | WhatsApp-native quality score of the business phone number: `GREEN` (high), `YELLOW` (medium) or `RED` (low). |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>name</code> | If the message was sent using a WhatsApp-approved template, the WhatsApp-native template name. |
      | <code style="word-break:normal">whatsapp.<wbr>template.<wbr>quality</code> | If the message was sent using a WhatsApp-approved template, the WhatsApp-native quality score of the template, if available: `GREEN` (high), `YELLOW` (medium) or `RED` (low). |
      | <code style="word-break:normal">whatsapp.<wbr>conversation.<wbr>id</code> | WhatsApp-native identifier of the conversation. Marketing, utility, authentication and service conversations last 24 hours unless closed by a newly opened free-entry-point conversation. Free-entry-point conversations last 72 hours. |
      | <code style="word-break:normal">whatsapp.<wbr>pricing.<wbr>category</code> | WhatsApp-native pricing category. `authentication`, `marketing` and `utility` indicate the conversation was opened by the business sending a template of that category, which applies any time it has been more than 24 hours since the last customer message. `service` indicates the conversation was opened by the business replying to a customer within a customer service window. `referral_conversion` indicates a [free entry point conversation](https://developers.facebook.com/docs/whatsapp/pricing#free-entry-point-conversations). |
      | <code style="word-break:normal">whatsapp.<wbr>user.<wbr>bsuid</code> | WhatsApp is introducing Business-Scoped User IDs (BSUIDs) as a privacy feature. From June 2026, users who adopt a WhatsApp username may no longer expose their phone number, and the BSUID becomes the only available identifier, in the format `CC.alphanumeric` (e.g. `US.13491208655302741918`). |
      | <code style="word-break:normal">whatsapp.<wbr>user.<wbr>parentBsuid</code> | The parent BSUID. |

      ### User Message Received events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **Text** content | ✅ | Maximum text length is **65 536** characters. |
      | **Postback** content | ✅ | *Reply* buttons trigger postbacks. No postback events are triggered for *Dial* or *Open URL* buttons. *Flow* buttons also trigger postbacks: the resulting event carries a Postback content whose `buttonType` is `flow`, whose `text` is the summary text provided by WhatsApp (e.g. `Sent`), and whose `payload` is the response of the flow — a string-encoded JSON object containing the data collected by the flow, along with the `flow_token` defined on the outbound flow button. Unlike a *Reply* button, that payload is not defined by the outbound message: it is produced by the flow itself. |
      | **Location** content | ✅ | `title` and `description` are usually present. |
      | **Media** content | ✅ | Inbound media can be of any MIME type, in contrast with outbound media which is limited to images, videos and documents. The provided file remains accessible for **30 days**. |
      | **Opt-In** content | ❌ | |
      | **Opt-Out** content | ✅ | Produced by MyLINK Multichannel API if a user message text matches "`STOP`", or another custom opt-out keyword. |
      | **Typing** content | ❌ | |

      Whenever applicable, *User Message Received* events can carry the following properties under
      their `channelData` property:

      | Channel data property | Details |
      | --- | --- |
      | <code style="word-break:normal">whatsapp.<wbr>account.<wbr>id</code> | WhatsApp-native Business Account numeric ID. |
      | <code style="word-break:normal">whatsapp.<wbr>phoneNumber</code> | The business phone number to which the end-user message was sent. |
      | <code style="word-break:normal">whatsapp.<wbr>phoneNumber.<wbr>name</code> | The verified name of the business phone number. |
      | <code style="word-break:normal">whatsapp.<wbr>phoneNumber.<wbr>quality</code> | WhatsApp-native quality score of the business phone number: `GREEN` (high), `YELLOW` (medium) or `RED` (low). |
      | <code style="word-break:normal">whatsapp.<wbr>user.<wbr>name</code> | Name of the WhatsApp end-user. |
      | <code style="word-break:normal">whatsapp.<wbr>user.<wbr>bsuid</code> | Business-Scoped User ID — see the *Message Status Changed* channel data above. |
      | <code style="word-break:normal">whatsapp.<wbr>user.<wbr>parentBsuid</code> | The parent BSUID. |
  - name: Viber specificities
    x-traitTag: true
    description: |
      Channel-specific behaviour of the **Viber** channel: which options it accepts, which content
      types and events it supports, and the per-property limits Viber imposes.

      For request and event payloads, see [Viber examples](#tag/Viber-examples).

      ## Templates

      **Template options** — the same options as for messages (see *Message options* below).
      Template options are merged with, and overridden by, message options when messages with
      contents based on templates are submitted.

      **Template contents** — the same contents as for messages (see *Message contents* below).

      Viber templates do not require review: the channel produces no *Template Review Status Changed*
      events.

      ## Messages

      ### Message options

      All message options below can also be set on the account level as account defaults.

      | Message option | Platform's default value | Details |
      | --- | --- | --- |
      | <code style="word-break:normal">viber.<wbr>deviceDestination</code> | `primaryDeviceOnly` | The destination devices the message can be sent to: `primaryDeviceOnly` (smartphones only) or `allDevices` (smartphones and tablets). |

      ### Message contents

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **From Template** content | ✅ | |
      | **Text** content | ✅ | Limited to **1000** characters. |
      | **Media** content | ✅ | `source` and the corresponding `type` can only be the MIME types `image/jpeg` or `image/png`. The `description` and `thumbnail` properties are ignored. |
      | **Location** content | ❌ | |
      | **Card** content | ✅ | See *Card content limits* below. |
      | **Carousel** content | ❌ | |
      | **Suggestions** | ❌ | |
      | **Reply** button/suggestion | ❌ | |
      | **Open URL** button/suggestion | ✅ | `caption` limited to **30** characters. `openUrl` has no "soft" limitation. The `postback` property is ignored. |
      | **Dial** button/suggestion | ✅ | `caption` limited to **30** characters. `dial.phoneNumber` must be in **E.164** format (for example `+12223334444`). The `postback` property is ignored. |
      | **View Location** button/suggestion | ❌ | *Recommendation: compensate with an **Open URL** button pointing to an external website (e.g. Bing Maps or Google Maps) that accepts geo-location or query parameters in the URL.* |
      | **Share Location** button/suggestion | ❌ | |
      | **Create Calendar Event** button/suggestion | ❌ | *Recommendation: compensate with an **Open URL** button pointing to an external website (e.g. Google Calendar) that accepts calendar-item creation parameters in the URL.* |
      | **Copy Code** button | ❌ | |

      #### Card content limits

      - `title` is not natively supported by Viber. If provided to MyLINK Multichannel API, it is concatenated with the
        `text` property using a new line.
      - `text` is limited to **1000** characters.
      - `buttons` must contain exactly **1** item.
      - `media` has the same limitations as the **Media** content described above.
      - Location is not supported. *Recommendation: compensate with the `media` property's `source`
        pointing to a static map picture URL, generated with the
        [Google Maps Static API](https://developers.google.com/maps/documentation/maps-static/start)
        for example.*

      ## Events

      ### Template Review Status Changed events

      Not applicable — the Viber channel does not require templates to be reviewed.

      ### Message Status Changed events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **DELIVERED** status | ✅ | |
      | **READ** status | ✅ | |

      *Message Status Changed* events on the Viber channel carry no `channelData`.

      ### User Message Received events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **Text** content | ✅ | Limited to **7000** characters. |
      | **Postback** content | ❌ | |
      | **Location** content | ❌ | |
      | **Media** content | ✅ | |
      | **Opt-In** content | ✅ | |
      | **Opt-Out** content | ✅ | |
      | **Typing** content | ❌ | |

      *User Message Received* events on the Viber channel carry no `channelData`.
  - name: Mock specificities
    x-traitTag: true
    description: |
      The **Mock** channel simulates a real channel end to end: it accepts every content type,
      produces the full range of message and template-review events, and the outcome to simulate is
      chosen per message or per template. An integration can therefore be developed and tested
      without sending real traffic.

      For request and event payloads, see [Mock examples](#tag/Mock-examples).

      ## Templates

      ### Template options

      All template options below can also be set on the account level as account defaults.
      Template options are merged with, and overridden by, message options when messages with
      contents based on templates are submitted.

      | Template option | Platform's default value | Details |
      | --- | --- | --- |
      | <code style="word-break:normal">mock.<wbr>template.<wbr>review.<wbr>scenario</code> | `Random` | The template review scenario to simulate — see *Template review scenarios* below. |

      #### Template review scenarios

      | Scenario | Simulated behaviour |
      | --- | --- |
      | <code style="white-space:nowrap">Random</code> | Randomly runs either the `Approve` or the `Reject` scenario. |
      | <code style="white-space:nowrap">Approve</code> | Triggers *Template Review Status Changed* events with `SUBMITTED` + `APPROVED` statuses, with random delays between each event. |
      | <code style="white-space:nowrap">Reject</code> | Triggers *Template Review Status Changed* events with `SUBMITTED` + `REJECTED` statuses, with random delays between each event. |
      | <code style="white-space:nowrap">ApproveAndSuspend</code> | The `Approve` scenario, plus a *Template Review Status Changed* event with `SUSPENDED` status, with random delays between each event. |
      | <code style="white-space:nowrap">ApproveAndDelete</code> | The `Approve` scenario, plus *Template Review Status Changed* events with `DELETING` and `DELETED` statuses, with random delays between each event. |

      ### Template contents

      The same contents as for messages (see *Message contents* below).

      ### Template review cheat codes

      The Mock channel supports *"cheat codes"*: specific text placed in any textual field (text,
      button captions, media descriptions, card titles/subtitles and text) triggers a particular
      scenario. Since the Mock channel can simulate template reviews (as the WhatsApp channel does
      for real), a review scenario can be selected with a cheat code instead of the template option
      above. Cheat codes are overridden by template options when both are present.

      | Cheat code | Scenario |
      | --- | --- |
      | <code style="white-space:nowrap">approve approve approve</code> | `Approve` |
      | <code style="white-space:nowrap">reject reject reject</code> | `Reject` |
      | <code style="white-space:nowrap">approve and suspend</code> | `ApproveAndSuspend` |
      | <code style="white-space:nowrap">approve and delete</code> | `ApproveAndDelete` |

      ## Messages

      ### Message options

      All message options below can also be set on the account level as account defaults.

      | Message option | Platform's default value | Details |
      | --- | --- | --- |
      | <code style="word-break:normal">mock.<wbr>scenario</code> | `Random` | The message scenario to simulate — see *Message scenarios* below. |

      #### Message scenarios

      | Scenario | Simulated behaviour |
      | --- | --- |
      | <code style="white-space:nowrap">Random</code> | Randomly runs any of `Success`, `SuccessAndRandomInteraction`, `SuccessAndOptout` or `RandomFailure`. |
      | <code style="white-space:nowrap">Success</code> | Triggers *Message Status Changed* events `SENT` + `DELIVERED` + `READ`, with random delays between each event. |
      | <code style="white-space:nowrap">SuccessAndRandomInteraction</code> | The `Success` scenario, plus a "click" on a random button within the original message (a suggestion or a card/carousel button), causing at least one *User Message Received* event with **Postback** content. For a *Share Location* button, an additional event with **Location** content and random geo-coordinates is sent. If the message contains no button, a random user message is sent instead. There is a random delay between each event. In addition, URLs pointing to pages generated by the Rich Messaging Service — in the text content or in *Open URL* buttons — are opened and randomly interacted with. |
      | <code style="white-space:nowrap">SuccessAndFullInteraction</code> | Similar to `SuccessAndRandomInteraction`, but every button is clicked, every page generated by the Rich Messaging Service is accessed and all of its widgets interacted with. Random user messages are always sent. |
      | <code style="white-space:nowrap">SuccessAndOptout</code> | The `Success` scenario, plus a *User Message Received* event with **Typing** content and a *User Message Received* event with **Opt-Out** content. There is a random delay between each event. |
      | <code style="white-space:nowrap">RandomFailure</code> | Triggers a *Message Status Changed* event with `DELIVERY_FAILED` status and a random error code out of `CHANNEL_INTERNAL_ISSUE`, `CHANNEL_OTHER_ISSUE`, `CHANNEL_REJECTED`, `USER_BLOCKED`, `USER_UKNOWN`, `USER_UNAVAILABLE`. |
      | <code style="white-space:nowrap">HardbounceFailure</code> | Triggers a *Message Status Changed* event with `DELIVERY_FAILED` status and a random error code out of `USER_BLOCKED` and `USER_UKNOWN`. |
      | <code style="white-space:nowrap">ThrottleAndSuccess</code> | Triggers 7 *Message Status Changed* events with `DELIVERY_RETRIED` status every 10 seconds, then 1 to 5 similar events every 2 minutes (1 to 11 minutes overall), followed by the `Success` scenario. |
      | <code style="white-space:nowrap">ThrottleAndRandomFailure</code> | Triggers 7 *Message Status Changed* events with `DELIVERY_RETRIED` status every 10 seconds, then 1 to 5 similar events every 2 minutes (1 to 11 minutes overall), followed by the `RandomFailure` scenario. |

      ### Message contents

      The Mock channel supports every content type and every button/suggestion type:

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **From Template** content | ✅ | |
      | **Text** content | ✅ | |
      | **Media** content | ✅ | |
      | **Location** content | ✅ | |
      | **Card** content | ✅ | |
      | **Carousel** content | ✅ | |
      | **Suggestions** | ✅ | |
      | **Reply** button/suggestion | ✅ | |
      | **Open URL** button/suggestion | ✅ | |
      | **Dial** button/suggestion | ✅ | |
      | **View Location** button/suggestion | ✅ | |
      | **Share Location** button/suggestion | ✅ | |
      | **Create Calendar Event** button/suggestion | ✅ | |
      | **Copy Code** button | ✅ | |
      | **Flow** button | ✅ | |

      ### Message cheat codes

      As for template reviews, a message scenario can be selected by placing a cheat code in any
      textual field of the message. Cheat codes are overridden by message options when both are
      present.

      | Cheat code | Scenario |
      | --- | --- |
      | <code style="white-space:nowrap">ok ok ok</code> | `Success` — triggers *Message Status Changed* events `SENT` + `DELIVERED` (+ `READ` if applicable), with random delays between each status. |
      | <code style="white-space:nowrap">adios adios adios</code> | `SuccessAndOptout` |
      | <code style="white-space:nowrap">frenzy frenzy frenzy</code> | `SuccessAndRandomInteraction` |
      | <code style="white-space:nowrap">manic manic manic</code> | `SuccessAndFullInteraction` |
      | <code style="white-space:nowrap">bong bong bong</code> | `HardbounceFailure` |
      | <code style="white-space:nowrap">fail fail fail</code> | `RandomFailure` |
      | <code style="white-space:nowrap">persistence wins</code> | `ThrottleAndSuccess` |
      | <code style="white-space:nowrap">stubborness fails</code> | `ThrottleAndRandomFailure` |

      ## Events

      ### Template Review Status Changed events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **SUBMITTING** status | ✅ | Triggered by calling `PUT /templates/{templateId}/reviews/mock`. |
      | **SUBMITTED** status | ✅ | Triggered after the `SUBMITTING` status. |
      | **APPROVED** status | ✅ | Triggered by the `Approve`, `ApproveAndSuspend` and `ApproveAndDelete` template scenarios. |
      | **REJECTED** status | ✅ | Triggered by the `Reject` template scenario. |
      | **DELETING** status | ✅ | Triggered by calling `DELETE /templates/{templateId}/reviews/mock`, or by the `ApproveAndDelete` template scenario. |
      | **DELETED** status | ✅ | Triggered by calling `DELETE /templates/{templateId}/reviews/mock`, or by the `ApproveAndDelete` template scenario. |
      | **SUSPENDED** status | ✅ | Triggered by the `ApproveAndSuspend` template scenario. |

      Channel data on *Template Review Status Changed* events is randomly generated.

      ### Message Status Changed events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **DELIVERED** status | ✅ | |
      | **READ** status | ✅ | |

      *Message Status Changed* events on the Mock channel carry no `channelData`.

      ### User Message Received events

      | Element | Supported? | Details |
      | --- | :---: | --- |
      | **Text** content | ✅ | |
      | **Postback** content | ✅ | |
      | **Location** content | ✅ | |
      | **Media** content | ✅ | |
      | **Opt-In** content | ❌ | |
      | **Opt-Out** content | ✅ | Produced by MyLINK Multichannel API if a user message text is "`STOP`". |
      | **Typing** content | ✅ | |

      *User Message Received* events on the Mock channel carry no `channelData`.
  - name: Template examples
    x-traitTag: true
    description: |
      Cross-channel examples of managing message templates and sending messages based on them.
      For the operations themselves see [Templates](#tag/Templates); for channel-specific template
      rules see [WhatsApp specificities](#tag/WhatsApp-specificities) (WhatsApp is the only channel
      that requires template review).

      ## Template management

      ### Create a simple text template targeting SMS

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Request</strong></p>

      ```http
      POST /v1/templates
      ```

      ```json
      {
        "template":{
          "content":{
            "text":"Hello {{firstName}} {{lastName}}!"
          },
          "variables":[
            {
              "name":"firstName"
            },
            {
              "name":"lastName"
            }
          ]
        }
      }
      ```

      <div class="ocm-space"><br></div>

      ### Create a text template with a predefined originating address

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Request</strong></p>

      ```http
      POST /v1/templates
      ```

      ```json
      {
        "template":{
          "content":{
            "text":"Hello {{firstName}} {{lastName}}!"
          },
          "options":{
            "sms.originatingAddress": "MyBrand"
          },
          "variables":[
            {
              "name":"firstName"
            },
            {
              "name":"lastName"
            }
          ]
        }
      }
      ```

      <div class="ocm-space"><br></div>

      ### Create a card template targeting RCS

      Variables can appear inside button postbacks, phone numbers and URLs, not only in text.

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Request</strong></p>

      ```http
      POST /v1/templates
      ```

      ```json
      {
        "template":{
          "meta":{
            "title":"Soldes 2022"
          },
          "content":{
            "card":{
              "title":"Hello there!",
              "text":"Hello {{firstName}} {{lastName}}!",
              "buttons":[
                {
                  "caption":"Tell me more",
                  "reply":{
                    "text":"Tell me more"
                  },
                  "postback":"DETAILS_{{countryCode}}"
                },
                {
                  "caption":"Call us",
                  "dial":{
                    "phoneNumber":"{{callUsPhoneNumber}}"
                  }
                },
                {
                  "caption":"Visit us",
                  "openUrl":{
                    "url":"https://{{countryCode}}.company.com"
                  }
                }
              ]
            }
          },
          "options":{
            "rcs.card.orientation":"HORIZONTAL"
          },
          "variables":[
            {
              "name":"firstName",
              "examples":[
                "Georges"
              ]
            },
            {
              "name":"lastName",
              "examples":[
                "Abitbol"
              ]
            },
            {
              "name":"countryCode",
              "examples":[
                "GB",
                "FR",
                "ES"
              ],
              "description":"To get country-specific details or website"
            },
            {
              "name":"callUsPhoneNumber",
              "examples":[
                "+3312456789"
              ],
              "description":"Country-specific customer service number"
            }
          ]
        }
      }
      ```

      <div class="ocm-space"><br></div>

      ### Update the content and variables of a template

      The content is overwritten, the variables are patched.

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Request</strong></p>

      ```http
      POST /v1/templates/tpl6800.../content
      ```

      ```json
      {
        "content": {
          "card": {
            "title": "Hello there!",
            "text": "Hello {{firstName}} {{middleName}} {{lastName}}!"
          }
        }
      }
      ```

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Request</strong></p>

      ```http
      PATCH /v1/templates/tpl6800.../variables
      ```

      ```json
      {
        "variables": [
          { "name": "middleName" }
        ]
      }
      ```

      <div class="ocm-space"><br></div>

      ### Submit a template for review

      Currently supported on the WhatsApp and Mock channels only.

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Request</strong></p>

      ```http
      PUT /v1/templates/tpl6800.../reviews/whatsapp
      ```

      ## Template usage

      ### Send an SMS message based on a template

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Request</strong></p>

      ```json
      {
        "messages":[
          {
            "channelId":"sms",
            "userId":"+33678787878",
            "content":{
              "fromTemplate":{
                "templateId":"tple93fe290002...",
                "variables":{
                  "firstName":"Vincent",
                  "lastName":"Georges"
                }
              }
            }
          }
        ]
      }
      ```

      <div class="ocm-space"><br></div>

      ### Send an RCS message based on a template, with a template-based SMS fallback

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Request</strong></p>

      ```json
      {
        "messages": [
          {
            "channelId": "rcs",
            "userId": "+33678787878",
            "content": {
              "fromTemplate": {
                "templateId": "tplK3jsjJ3...",
                "variables": {
                  "firstName": "Vincent",
                  "lastName": "Georges"
                }
              }
            },
            "fallback": {
              "channelId": "sms",
              "userId": "+33678787878",
              "content": {
                "fromTemplate": {
                  "templateId": "tplJMskA32...",
                  "variables": {
                    "firstName": "Vincent",
                    "lastName": "Georges"
                  }
                }
              }
            }
          }
        ]
      }
      ```
  - name: Fallback examples
    x-traitTag: true
    description: |
      A message can carry a `fallback` message, sent automatically when the primary message fails.
      Fallbacks can be nested, so a single request can walk a chain of channels until one succeeds.

      The failing message's *Message Status Changed* event carries a `fallbackMessageId` pointing at
      the message that was sent in its place, so the whole chain can be followed.

      See also [Context examples](#tag/Context-examples) — the context of a primary message is
      inherited by its fallback.

      ## RCS falling back to SMS

      An RCS card message fails and falls back to a plain SMS.

      <p class="ocm-legend" style="margin:0 0 4px;font-size:0.8em;font-weight:700;color:#6a737d;letter-spacing:0.02em"><strong>Request</strong></p>

      ```json
      {
        "messages": [
          {
            "channelId": "rcs",
            "userId": "33777777777",
            "content": {
              "card": {
                "title": "Private sale",
                "text": "Enjoy your personal -30% rebate on all items",
                "media": {
                  "source": "https://example.com/picture.jpeg",
                  "type": "image/jpeg"
                },
                "buttons": [
                  {
                    "caption": "Get me there",
                    "openUrl": {
                      "url": "https://to.page/e9ZxkeAvu"
                    }
                  }
                ]
              }
            },
            "fallback": {
              "channelId": "sms",
              "userId": "33777777777",
              "content": {
                "text": "-30% rebate on all items https://to.page/e9ZxkeAvu"
              }
            }
          }
        ]
      }
      ```

      The resulting events — the RCS message fails with a `fallbackMessageId`, then the SMS fallback
      is sent and delivered:

[...]
